.github
.git
.vscode
node_modules
logs
public

.dockerignore
.env
.gitignore
.private-key.json
.project
.public-key.json
*.log
Dockerfile
LICENCE
README.md
scanner.logs
sqlite3.exe
users.db
progress.txt
node-music.json
